<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.header-footer {
    background-color: #0099cc;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

.menu-header {
	text-align: center;
    margin-bottom: 7px;
    font-style: oblique;    
}



/*examples */
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 10px;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>


<body>
    
    <div class="header-footer">
      <h1>MV Cleaning Inc.</h1>
      <h2>Our business is makings yours shine!<h2>
    </div>

    <div class="row">

        <div class="col-3 menu">
            <div class="menu-header">
                Some of our services
            </div>
            <div>
              <ul>
                <li>Post-Construction Clean-Up</li>
                <li>Pressure Washing</li>
                <li>Strip and Wax Floors</li>
                <li>Wash windows inside and out</li>
              </ul>
            </div>
        </div>

        <div class="col-9">
            <h3>Dear {{name}},</h3>
            <p>
                This email is in regards to your invitation to bid on 
                <em>{{bid.platform}}</em> titled 
                <strong>"{{bid.title}}"</strong>.
            </p>
            
            <h4>We'd love to end your search for a company to take on this work!</h4>
                
            <p>We've been in business for over 20 years and our team of highly experienced employees has handled such projects in the past.</p>
                
            <h4>Here are a few examples:</h4>
            <div class="examples">
                <div class="responsive">
                    <div class="img">
                        <a target ="_blank" href="{{images.col1}}">
                            <img src="{{images.col1}}" alt="image1" width="300" height="200">
                        </a>
                        <div class="desc">
                            <em>- Metropolitan Center - Uptown Charlotte</em> <h5> Size: 280K SqFt.</h5>
                        </div>
                    </div>
                </div>
            
            
                <div class="responsive">
                    <div class="img">
                        <a target ="_blank" href="{{images.col2}}">
                            <img src="{{images.col2}}" alt="image1" width="500" height="300">
                        </a>
                        <div class="desc">
                            <em>- Red Ventures - <br> Fort Mill, SC</em> <h5> Size: 180K SqFt.</h5>
                        </div>
                    </div>
                </div>
            
            
                <div class="responsive">
                    <div class="img">
                        <a target ="_blank" href="{{images.col3}}">
                            <img src="{{images.col3}}" alt="image1" width="300" height="200">
                        </a>
                        <div class="desc">
                            <em>- TTI Floor Care - Charlotte, NC</em> <h5> Size: 280K SqFt.</h5>
                        </div>
                    </div>
                </div>
    		</div>{{!--end examples--}}
    		
    		<div class="stand-out">
    		    <p>Accompanying our experience is a structured pricing model that we'd align to your project's timelines.</p>

                <h4>How we stand out:</h4>
                <ul>
                    <li><strong>24/7 contact</strong>, including weekends and holidays.</li><br>
                    <li><strong>Timely</strong> proposals and billing statements for overall project spend.</li><br>
                    <li><strong>Well-Spoken</strong> by our past clients and an excellent track record of project completion time.</li><br>
                    <li><strong>Thorough revisiting and review</strong> of job sites intra-week, ensuring the utmost application of our standards and services.</li>
                </ul>

    		</div>{{!--end stand-out--}}
        </div>{{!--end col-9--}}

    </div>
    
    <div class="header-footer">
        <div class="row">
            
        </div>
    </div>

</body>