Hello {{name}},

This email is in regards to your invitation to bid on {{bid.platform}} titled "{{bid.title}}".

We'd love to end your search for a company to take on this work! We've been in business for over 20 years and our team of highly-experienced employees has handled such projects in the past. Here are a few examples:

{{related.projects}}

{{customContent}}

Accompanying our experience is a structured pricing model that we'd align to your project's timelines.

Here's how we stand out:
- Offering 24/7 contact, including weekends and holidays
- Timely proposals and billing statements for overall project spend
- Well spoken by our past clients and an excellent track record of project completion time
- We revisit and review job sites intra-week, ensuring the utmost application of our standards and services

Without taking up more of your time, here's a
- Link to schedule a free pricing appointment to speak with one of our team members:
{{contact.calendar}}
- A link to our website for more information
{{contact.website}}
- Our number to speak with us right now about this proposal:
{{contact.phone}}

Thank you!


Best Regards,

MV Cleaning
